<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProgressMapper">
  <resultMap id="BaseResultMap" type="model.Progress">
    <id column="progress_id" jdbcType="INTEGER" property="progressId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="progress_date" jdbcType="TIMESTAMP" property="progressDate" />
    <result column="progress" jdbcType="INTEGER" property="progress" />
  </resultMap>
  <sql id="Base_Column_List">
    progress_id, book_id, user_id, progress_date, progress
  </sql>
  <select id="selectProgressByUserIdAndBookId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from progress
    where user_id = #{userId,jdbcType=INTEGER}
    and book_id = #{bookId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from progress
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectProgressById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from progress
    where progress_id = #{progressId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="model.Progress">
    insert into progress (book_id, user_id, progress_date, 
      progress)
    values (#{bookId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{progressDate,jdbcType=TIMESTAMP}, 
      #{progress,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="model.Progress">
    insert into progress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        book_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="progressDate != null">
        progress_date,
      </if>
      <if test="progress != null">
        progress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="progressDate != null">
        #{progressDate,jdbcType=TIMESTAMP},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="model.Progress">
    update progress
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="progressDate != null">
        progress_date = #{progressDate,jdbcType=TIMESTAMP},
      </if>
      <if test="progress != null">
        progress = #{progress,jdbcType=INTEGER},
      </if>
    </set>
    where progress_id = #{progressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Progress">
    update progress
    set book_id = #{bookId,jdbcType=INTEGER},
    user_id = #{userId,jdbcType=INTEGER},
    progress_date = #{progressDate,jdbcType=TIMESTAMP},
    progress = #{progress,jdbcType=INTEGER}
    where progress_id = #{progressId,jdbcType=INTEGER}
  </update>

  <delete id="deleteByProgressId" parameterType="java.lang.Integer">
    delete from progress
    where progress_id = #{progressId,jdbcType=INTEGER}
  </delete>

</mapper>